<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <appSettings>
    <add key="QueueConnectionString" 
         value="DefaultEndpointsProtocol=https;AccountName=crackoffiot;AccountKey=xiNm5ctEFFFQm+55pIJ0HlcCIdT/0V/yIfCWj/q/WjWBM7GbNIa08FMnx3XzqP4o8Y5AYf3HMOGLZoToblgCkg==" />
    <add key="QueueName" value="iotqueue" />
  </appSettings>
  
  <connectionStrings>
    <add name="IoTDbContext" connectionString="Server=tcp:crackoff.database.windows.net,1433;Initial Catalog=IoT_DB;
         Persist Security Info=False;User ID=kaa;Password=rH0djukJn;MultipleActiveResultSets=False;Encrypt=True;
         TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity>
    <container>
      <register type="IoT.Dashboard.Interfaces.IUserProfilesRepository, IoT.Dashboard.Interfaces"
                mapTo="IoT.Dashboard.Data.UserProfilesRepository, IoT.Dashboard.Data" />
      <register type="IoT.Dashboard.Interfaces.ISignalsQueueProvider, IoT.Dashboard.Interfaces"
                mapTo="IoT.Dashboard.SignalsQueue.SignalsQueueProvider, IoT.Dashboard.SignalsQueue" />
    </container>
  </unity>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>