<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Во избежание раскрытия метаданных задайте ниже значение false перед развертыванием -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Чтобы получать сведения об исключении при сбоях для отладки, следует установить значение True для указанного ниже параметра. Следует установить значение False для этого параметра перед развертыванием, чтобы не допустить раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  
  <unity>
    <container>
      <register type="IoT.Dashboard.Common.ISignalsQueueProvider, IoT.Dashboard.Common"
                mapTo="IoT.Dashboard.SignalsQueue.SignalsQueueProvider, IoT.Dashboard.SignalsQueue" />
    </container>
  </unity>

  <appSettings>
    <add key="QueueConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=crackoffiot;AccountKey=xiNm5ctEFFFQm+55pIJ0HlcCIdT/0V/yIfCWj/q/WjWBM7GbNIa08FMnx3XzqP4o8Y5AYf3HMOGLZoToblgCkg==" />
    <add key="QueueName" value="iotqueue" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
  </system.web>

</configuration>
